@import '@nc-core/styles/common/variables.sass'

.chatBox
  position: relative

  &__header, &__footer
    background-color: $dark600
    width: 100%
  &__header
    padding: 10px 24px
    padding-right: 12px

    &__button
      background-color: transparent
      border: none
      color: inherit
  &__content
    height: 100%
    max-height: calc(100% - 57px - 72px)
    overflow-y: auto
    padding-bottom: 12px

    &::-webkit-scrollbar
      width: 8px
    &::-webkit-scrollbar-track
      background-color: transparent
    &::-webkit-scrollbar-thumb
      background-color: $dark800

      &:hover
        background-color: darken($dark800, 1)
    &__grouped
      align-items: center

      &, &__messages
        display: flex
        flex-flow: column wrap
      &__title
        padding: 6px 0
      &__messages
        gap: 12px
        width: 100%
        align-items: center

        &__unread
          background-color: var(--color-error)
          border-radius: 12px
          color: var(--color-on-error)
          padding: 6px 24px
          text-align: center
  &__footer
    bottom: 0
    left: 0
    padding: 16px 24px
    position: absolute

    &__input
      background-color: $dark700
      border: none
      border-radius: 24px
      color: var(--color-text)
      outline: none
      padding: 12px 24px
      width: 100%

.chatMessage
  align-content: flex-start
  align-items: flex-start
  display: flex
  justify-content: flex-start
  flex-flow: column wrap
  gap: 4px
  width: 100%

  &__content
    $self: &

    align-content: flex-start
    align-items: flex-start
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    gap: 12px
    padding: 0 24px
    width: 100%

    &:nth-of-type(1) &__message__text
      border-top-left-radius: 0px
    &--end
      justify-content: flex-end

      &:nth-of-type(1) #{ $self }__message__text
        border-top-left-radius: 6px
        border-top-right-radius: 0px
      & #{ $self }__message
        align-items: flex-end

        &--margin
          padding-left: 0
          padding-right: 37px
        &__text
          background-color: $dark500
        &__date
          margin-left: 0
          margin-right: 4px
    &__message
      display: flex
      align-items: flex-start
      flex-flow: column wrap
      gap: 4px
      width: calc(100% - 37px)

      &--margin
        padding-left: 37px
      &__text
        background-color: $dark800
        border-radius: 6px
        line-height: 1.25em
        max-width: 50%
        padding: 6px 12px
      &__date
        margin-left: 4px
