.sidebar
  $size: 70px

  background-color: var(--color-sidebar)
  height: 100vh
  padding: 24px 0
  width: $size

  &__nav
    display: flex
    flex-flow: column wrap
    width: calc($size * 0.8)

    &__item
      align-items: center
      border-radius: 12px 0 0 12px
      color: rgba(white, 0.6)
      display: flex
      justify-content: center
      padding: 12px 0
      position: relative
      width: 100%

      &--active
        $sizeBorder: 20px

        background-color: var(--color-background)
        color: var(--color-primary)
        padding: 12px 0
        margin: 10px 0
        width: calc($size * 0.9)

        &::before, &::after
          background-color: var(--color-sidebar)
          content: ""
          height: $sizeBorder
          position: absolute
          right: 0
          width: $sizeBorder
        &::before
          border-radius: 0 0 50% 0
          box-shadow: -4px -4px 0 4px var(--color-sidebar), 0 0 0 5px var(--color-background)
          top: -$sizeBorder
        &::after
          border-radius: 0 50% 0 0
          bottom: -$sizeBorder
          box-shadow: -4px 4px 0 4px var(--color-sidebar), 0 0 0 5px var(--color-background)
        & > a
          line-height: 0.5
          position: relative

          &::before
            background-color: var(--color-primary)
            border-radius: 2px
            content: ""
            height: 64%
            left: -45%
            position: absolute
            top: calc(50% - (64% / 2))
            width: 4px
      &__badge
        position: absolute
        right: 5px
        top: 5px
