@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url('/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url('/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url('/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url('/fonts/Roboto-Bold.ttf');
}

a:hover {
  text-decoration: underline;
}

::-ms-reveal, ::-ms-clear {
  display: none;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.checkbox__input:checked + .checkbox__input__check {
  @apply bg-primary
}

.twoFactorCode::selection {
  @apply bg-transparent
}
