.authTemplate
  display: flex
  flex-flow: column wrap
  justify-content: space-between
  min-height: 100vh

  &__title
    font:
      size: 36px
      weight: 500
  &__figureCaption
    color: rgba(black, 0.35)
    font-size: 21px
    text-align: center
