.footer
  background-color: #F1F1F2
  padding: 0 24px
  width: 100%

  &__top, &__bottom
    padding-left: 36px
    padding-right: 36px

    & a:hover
      text-decoration: underline
  &__top
    justify-content: space-between
    padding-bottom: 48px
    padding-top: 48px

    & a
      font-size: 14px
    &__title
      font:
        size: 21px
        weight: 500
  &__bottom
    border-top: 1px solid rgba(black, .12)
    font-size: 12px
    padding-bottom: 12px
    padding-top: 12px

    &__copyright
      font-weight: 500
