.authHeader
  padding: 24px 60px

  &__nav
    &__items
      display: flex
      flex-flow: row wrap
      gap: 12px

.header
  &__profile
    width: 90%

    &__information
      &__username
        font-size: 16px
